.tabz {
    position: relative;
    height: 100%;
}
.tabz > header {
    position: relative;
    display: inline-block;
    background-color: white;
    margin-left: 1em;
    padding: 5px .6em;
    border: 1px solid #666;
    border-bottom-color: transparent;
    border-radius: 6px 6px 0 0;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.tabz > header + section {
    position: absolute;
    display: none;
    background-color: white;
    margin-top: -1px;
    padding: 8px;
    border: 1px solid #666;
    border-radius: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; /* reset by initialization code */
    z-index: 0;
}

/* pop tab and folder to front */

.tabz > header + section.tabz-enable {
    z-index: 1;
}
.tabz > header.tabz-enable {
    z-index: 2;
}

/* some handy background colors */

.tabz-bg0 {
    background-color: #eee !important; /* grey */
}
.tabz-bg1 {
    background-color: #eef !important; /* blue */
}
.tabz-bg2 {
    background-color: #efe !important; /* green */
}
.tabz-bg3 {
    background-color: #eff !important; /* cyan */
}
.tabz-bg4 {
    background-color: #fee !important; /* red */
}
.tabz-bg5 {
    background-color: #fef !important; /* magenta */
}
.tabz-bg6 {
    background-color: #ffe !important; /* yellow */
}
